body {
    background-color: #fffff7;
}

.App {
    margin: 0;
    padding: 0;
}

.overlayPaper {
    position: fixed;
    background-image: url('./assets/markatto.jpg');
    z-index: 9998;
    background-repeat: repeat;
    background-position: center;
    background-size: fill;
    mix-blend-mode: multiply;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
    background-size: 1700px;
    height: 100vh;
    width: 100vw;
}